@font-face {
    font-family: "EuclidFlex";
    src: url(../fonts/EuclidFlex-Regular.otf);
    font-weight: 400;
}
@font-face {
    font-family: "EuclidFlex";
    src: url(../fonts/EuclidFlex-Medium.otf);
    font-weight: 500;
}
@font-face {
    font-family: "EuclidFlex";
    src: url(../fonts/EuclidFlex-Bold.otf);
    font-weight: 700;
}
//==================================MAIN-STYLES===================================================
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-color: black;
    font-family: "EuclidFlex";
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    font-size: 90px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}
.title::before {
    content: "";
    position: absolute;
    height: 10px;
    width: 70%;
    background-color: #00808a;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
}

.header {
    padding-top: 50px;
    color: white;
    background-image: url(../images/header/header__bg.jpg);
    background-size: cover;
    background-position-y: bottom;
    height: 100vh;
}
.header__wrapper {
    align-items: inherit;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    a {
        color: white;
        text-decoration: none;
        font-size: 30px;
        font-weight: 700;
        transition: 0.3s;
    }
    margin-bottom: 140px;
}
.logo {
    a:hover {
        color: #00808a;
    }
}
.menu {
}
.menu__list {
    display: flex;
}
.menu__item:not(:last-child) {
    margin-right: 70px;
}
.menu__item-link {
    transition: 0.3s;
}
.menu__item-link:hover {
    color: #00808a;
}
.header__center {
    position: relative;
}
.header__title {
    font-size: 120px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    line-height: 90%;
    position: relative;
    z-index: 10;
}
.header__img {
    width: 30%;
    position: absolute;
    left: 40%;
    transform: translateX(-50%);
    z-index: 5;
}
.services {
    padding-bottom: 80px;
}
.services__wrapper {
}
.services__list {
}
.services__item {
    text-align: center;
}
.services__item-link {
    text-decoration: none;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    transition: 0.2s;
}
.services__item-link:hover {
    color: #00808a;
}

.about {
    position: relative;
    background-color: white;
    height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
}
.about__bg {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
}
.about__wrapper {
    flex-direction: row;
}
.about__inner {
}
.about__text {
    margin-top: 200px;
    font-size: 25px;
}
.about__img {
    width: 50%;
    position: relative;
    animation-name: round;
    animation-duration: 27s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes round {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.slider1__block {
    padding-bottom: 100px;
}
.slider1__wrapper {
    height: 100vh;
    justify-content: flex-start;
}
.slider1 {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 64px;
    .slick-dots {
        display: flex !important;
        justify-content: center;
        margin-top: 40px;
    }
    .slick-dots button {
        background-color: black;
        border: 2px solid white;
        height: 24px;
        width: 24px;
        margin-right: 28px;
        cursor: pointer;
        font-size: 0px;
        border-radius: 50%;
    }
    .slick-active button {
        background-color: #00abaa;
    }
}
.slider1__item {
    width: 100%;
}
.slider1__item-img {
}
.slider1__wrapper-textblock {
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}
.slider1__textblock-inner {
    display: flex;
    width: 100%;
    animation-name: running__line;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.running__line-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.runn__line-mg {
    display: block;
    width: 20%;
    margin-right: 20px;
    white-space: nowrap;
}

@keyframes running__line {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}
.keys {
    background-color: white;
}
.keys__wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
}
.keys__title {
    margin-bottom: 100px;
}
.slider2 {
    width: 90%;
    height: 545px;
    .slick-prev,
    .slick-next {
        position: absolute;
        border: none;
        background-repeat: no-repeat;
        cursor: pointer;
        font-size: 0;
        left: 47.5%;
        transform: translateX(-50%);
        width: 98px;
        height: 98px;
        border-radius: 50%;
    }
    .slick-next {
        top: 0;
        transform: translateY(-50%);
        z-index: 50;
        background-image: url(../images/slider2/arrow-next.svg);
    }
    .slick-prev {
        top: 100%;
        transform: translateY(-50%);
        z-index: 50;
        background-image: url(../images/slider2/arrow-prev.svg);
    }
}
.slick-track {
    display: flex;
    align-items: center;
}
.slider2__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    filter: grayscale(100%);
    transition: 3s;
}
.slick-active {

    filter: grayscale(0%);
    .slider2__item-img {
        width: 100%;
    }
}
.slick-slide {
    img {
        transition: 1.5s;
    }
    img:hover {
        width: 100%;
    }
}
.slider2__item-img {
    width: 60%;
    margin: 0 auto;
}
.contacts {
    background-color: black;
    color: white;
    padding-top: 120px;
    position: relative;
}
.contacts__img {
    position: absolute;
    right: -10%;
    top: 20%;
    z-index: 2;
}
.contacts__inner {
    max-width: 900px;
    position: relative;
    z-index: 10;
}
.contacts__title {
    margin-bottom: 100px;
}
.contacts__subtitle {
    margin-bottom: 64px;
}
.subtitle {
    font-size: 30px;
    line-height: 115%;
    font-weight: 700;
}
.fz__mini {
    font-size: 14px;
    line-height: 110%;
    letter-spacing: -5%;
    font-weight: 400;
}
.contacts__form {
    margin-bottom: 100px;
}
.form__content {
    border: none;
    outline: none;
    color: #818181;
    font-size: 30px;
    margin-right: 20px;
    background-color: transparent;
    border-bottom: 1px solid #00abaa;
    text-transform: uppercase;
}
.form__content::-webkit-input-placeholder {
    font-size: 30px;
    color: white;
}
.form__content:-ms-input-placeholder {
    font-size: 30px;
    color: white;
}
.form__content::-ms-input-placeholder {
    font-size: 30px;
    color: white;
}
.form__content::placeholder {
    font-size: 30px;
    color: white;
}
.form__content-name {
    width: 180px;
}
.form__content-number {
    width: 280px;
}
.form__content-check {
    margin-top: 24px;
    margin-right: 10px;
}
.btn {
    color: white;
    background-color: #00abaa;
    border: none;
    cursor: pointer;
    padding: 11px 57px;
    border-radius: 5px;
    text-transform: uppercase;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
.btn:hover {
    background-color: white;
    color: #00abaa;
}
.contacts__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 100px;
}
.contacts__item {
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.contacts__item-img {
    margin-right: 25px;
}
.contacts__item-title {
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 20px;
}
.contacts__item-text {
    color: #818181;
    text-transform: uppercase;
    letter-spacing: -5%;
}
.contacts__item-text a {
    color: #818181;
    text-decoration: none;
}
.contacts__item-text a:hover {
    color: white;
}
.conacts__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding-bottom: 20px;
}
.conacts__bottom-link {
    color: #818181;
    text-decoration: none;
}
.conacts__bottom-link:hover {
    color: white;
}
.hr {
    height: 1px;
    background-color: #818181;
}

.footer__text {
    color: #818181;
    font-size: 12px;
    line-height: 19px;
    font-weight: 400;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 12px;
    /* ширина для вертикального скролла */
    height: 8px;
    /* высота для горизонтального скролла */
    background-color: #000408;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: #1d5d5f;
    border-radius: 9em;
    -webkit-box-shadow: inset 1px 1px 10px #f3faf7;
    box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #253861;
}

/* Стрелки */
::-webkit-scrollbar-button:vertical:start:decrement {
    background: linear-gradient(120deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(240deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(0deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}

::-webkit-scrollbar-button:vertical:end:increment {
    background: linear-gradient(300deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(60deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(180deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
    background: linear-gradient(30deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(150deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(270deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:end:increment {
    background: linear-gradient(210deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(330deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(90deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}
